**/.gradle/
**/build/
**/target/
/nbproject/
**/dependency-reduced-pom.xml
*.iml
/.idea/
/.idea/libraries
/jcp-tests/jcp-test-jep238/build.log
/jcp-tests/jcp-test-gradle/.buildProfile/report/
/jcp/.flattened-pom.xml
